<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        script(src="js/lib/jquery.min.js")
        script(src="js/lib/jquery.inputmask.js")
        script(src="js/main.js")
        script(src="js/WBH_slider.js")
        script(src="js/WBH_how_slider.js")
        title Гардеробные комнаты под заказ
    body
        img(class="sub_BG" src="images/cat/cat1.jpg" alt="sub_BG")
        include sections/navi
        main
            include sections/hero
            include sections/category
            include sections/howItWorks2
            include sections/newGallery
            include sections/question
            include sections/footer
            
            
            
            

            
                    