<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        script(src="js/lib/jquery.min.js")
        script(src="js/main.js")
        title Гардеробные комнаты под заказ
    body
        header
            nav
        main
            section#hero_wrap
                img#hero_BG_image(src="/images/header/slide1.jpg")
                .hero
                    h1 Гардеробные комнаты
                    p.h1_title Функциональность, качество, комфорт!
                    p.h1_button Заказать
                    