nav {
    top: 0;
}
.page_header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    /*height: 45vw;*/
    z-index: 0;
    overflow: hidden;
    }
.page_BG_img {
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    z-index: 1;
}
.page_header_cover {
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.page_title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 34vw;
    height: 100%;
    margin-bottom: 25vw;
}
.page_title h1 {
    font-size: 3vmax;
    color: rgba(229,231,230,0.98);
    z-index: 40;
    text-shadow: 1px 1px 2px black, 0 0 1em gray;
}





/* new gallery 
.gallery {
    background: rgba(229,231,230,0.98);
    padding: 3vw 0; 
}
.info {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    padding: 2vw 2vw;
    border: 2px rgb(98, 101, 102) solid;
    border-radius: 5px;
}
.info_category {
    flex-flow: row nowrap !important;
}
    .info img {
        height: 3.5vw;
        padding: 0 2vw 0 0;
    }
    .info p {
        font-size: 1vw;
        text-align: justify;
    }
.gallery h2 {
    padding-top: 5vw;
    font-size: 1.7vw;
    text-align: center;
    color: #252525;
    opacity: .7;
}
.gallery_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 11vw 2vw 2vw 2vw;
    width: 100%;
    height: 75vw;
    grid-gap: 1rem;
}
    .gallery_slideMain {

        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        position: relative;
        z-index: 1;
    }
    .mainFoto {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .gallery_slideMain_in {
        display: flex;
        align-items: center;
        position: absolute;
        left: -3%;
        top: -20%;
        width: 106%;
        height: 130%;
        box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.5);
    }
        .gallery_slideMain_in .arrow_next,.gallery_slideMain_in .arrow_beak {
            position: absolute;
            width: 3vw;
            height: 6vw;
            z-index: 2;
            opacity: .5;
            cursor: pointer;
            transition: all 500ms;
        }
        .arrow_next:hover,.arrow_beak:hover {
            opacity: .9;
        }
            .gallery_slideMain_in .arrow_beak {
                left: 1vw;  
            }
            .gallery_slideMain_in .arrow_next {
                right: 1vw;
            }
    .gallery_item {
        position: relative;
        opacity: .6;
        filter: grayscale(1);
        transition: all 500ms;
        z-index: 0;
        overflow: hidden;
    }
    .gallery_item img {
        position: absolute;
        width: 100%;
        height: 130%;
        top: -15%;
    }
    .gallery_item:hover {
        opacity: 1;
        filter: grayscale(0);
        cursor: pointer;
    }
    .gallery_active,.gallery_active:hover {
        opacity: 1 !important;
        filter: grayscale(0) !important;
        cursor: unset;
    }

/* gallery */
/*
.gallery {
    background: rgba(229,231,230,0.98);
    padding-top: 3vw; 
    position: relative;
    z-index: 20;
}
    .info {
        display: flex;
        width: 80vw;
        margin: 0 auto;
        padding: 2vw 2vw;
        border: 2px rgb(98, 101, 102) solid;
        border-radius: 5px;
    }
    .info_category {
        flex-flow: row nowrap !important;
    }
        .info img {
            height: 3.5vw;
            padding: 0 2vw 0 0;
        }
        .info p {
            font-size: 1vw;
            text-align: justify;
        }
/*
    .gallery h2 {
        padding-top: 5vw;
        font-size: 1.7vw;
        text-align: center;
        color: #252525;
        opacity: .7;
    }
    .gallery_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 11vw 2vw 2vw 2vw;
        width: 100%;
        height: 75vw;
        grid-gap: 1rem;
    }
        .gallery_wrap div {
            background-position: center;
            background-size: cover;
        }
        .gallery_slideMain {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            position: relative;
            z-index: 1;
        }
        .gallery_slideMain_in {
            display: flex;
            align-items: center;
            position: absolute;
            left: -3%;
            top: -20%;
            width: 106%;
            height: 130%;
            box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.5);
        }
            .gallery_slideMain_in .arrows {
                position: absolute;
                width: 3vw;
                height: 6vw;
                z-index: 2;
                opacity: .5;
                cursor: pointer;
                transition: all 500ms;
            }
            .gallery_slideMain_in .arrows:hover {
                opacity: .9;
            }
                .gallery_slideMain_in .arrows:first-child {
                    left: 1vw;  
                }
                .gallery_slideMain_in .arrows:last-child {
                    right: 1vw;
                }
        .gallery_item {
            opacity: .6;
            filter: grayscale(1);
            transition: all 500ms;
            z-index: 0;
        }
        .gallery_item:hover {
            opacity: 1;
            filter: grayscale(0);
            cursor: pointer;
        }
        .gallery_active,.gallery_active:hover {
            opacity: 1 !important;
            filter: grayscale(0) !important;
            cursor: unset;
        }
        .gallery_item1 {
            background: url(../images/page/gallery/1.jpg);
        }
        .gallery_item2 {
            background: url(../images/page/gallery/2.jpg);
        }
        .gallery_item3 {
            background: url(../images/page/gallery/3.jpg);
        }
        .gallery_item4 {
            background: url(../images/page/gallery/4.jpg);
        }
        .gallery_item5 {
            background: url(../images/page/gallery/5.jpg);
        }
        .gallery_item6 {
            background: url(../images/page/gallery/66.jpg);
        }
        .gallery_item7 {
            background: url(../images/page/gallery/9.jpg);
        }
        .gallery_item8 {
            background: url(../images/page/gallery/7.jpg);
        }
        .gallery_item9 {
            background: url(../images/page/gallery/7.jpg);
        }

/* header  contacts  *//*
.contacts_wrap {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    padding: 2vw;
    margin-bottom: 2vw;
    color: #252525;
    background:rgba(255, 255, 255, 0.86);
    border-radius: 5px;
    width: 34vw;
    z-index: 2;
    box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.5);
}
.contacts_wrap h3 {
    font-size: 2vw;
}
.contacts_wrap h5,a {
    padding-top: 2vmax;
                color: rgb(32,36,37);
                font-size: 1.2em;
                text-align: center;
}
.contacts_wrap a {
    text-decoration: none;
                padding: 2vw;
}
.contacts_wrap input {
    width: 13vw;
                height: 1vw;
                border: 2px rgb(98, 101, 102) solid;
                border-radius: 5px;
                padding: .8vw;
                margin: 0 1vw;
                z-index: 20;
}
.getPhone,.garderob_phones,.garderob_mail {
    display: flex;
                justify-content: space-around;
                padding: 1vw 2vw;
}
.getPhone button,.garderob_phones button,.garderob_mail button {
    height: auto;
                    width: 2vw;
                    border: 2px rgb(98, 101, 102) solid;
                    border-radius: 5px;
                    cursor: pointer;
                    z-index: 20;
}
.getPhone button img,.garderob_phones button img,.garderob_mail button img {
    height: 1vw;
}
.massangers {
    display: flex;
    justify-content: center;
    width: 100%;
}
.massangers a {
    padding: 1vw;
                    width: 7vw;
                    filter: grayscale(90%);
                    transition: all 500ms;
                    font-size: .8vw;
                    z-index: 20;
}
.massangers a:hover {
    filter: grayscale(0%);
}
.massangers a img {
    width: 2vw;
}

/* Blog */
/*
.page_cat, .toGalleryBtn_page {
    background: white !important;
}
.blog_title_block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60vw;;
    height: 100%;
    z-index: 99;
}
.blog_title {
    font-size: 3vw;
    color: white;
    text-align: center;
    z-index: 99;
}
.cat_BG_1_page,.cat_BG_2_page,.cat_BG_3_page {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.cat_BG_1_page {
    background: url("../images/cat/cat1.jpg") !important;
}
.cat_BG_2_page {
    background: url("../images/cat/cat2.jpg") !important;
}
.cat_BG_3_page {
    background: url("../images/cat/cat3.jpg") !important;
}
.cat_item_wrap {
    position: relative;
}
.cat_item_rightSide_innerBox p {
    max-width: 33vw !important;
}
.toGalleryBtn {
    text-decoration: none;
}
.cat_item_rightSide {
    right: 0 !important;
}
.cat_item_rightSide_invert {
    left: 0 !important;
}
*/

/* about */
.main_about {
    padding: 2vw;
}
.advantage_list {
    display: flex;
}
.info {
    display: flex;
    flex-flow: column;
}
    .info ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
        .info ul li {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 10vw;
        }
            .info ul li p {
                font-size: .8vw;
                opacity: .8;
                padding: 1vw;
                text-align: center;
            }
            .info ul li img {
                padding: unset;
            }
    .info h3 {
        padding: 2vw;
        text-align: center;
        font-size: 2vw;
    }
    .info_wrap {
        display: flex;
    }

.team_wrap {
    padding: 5vw 2vw 5vw 2vw;
}
    .team_wrap h2 {
        text-align: center;
        font-size: 2vw;
        margin-bottom: 3vw;
    }
    .team_top, .team_bottom {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
        .team_top li,.team_bottom li {
            position: relative;
            width: 20vw;
            height: 20vw;
            overflow: hidden;
        }
            .team_top li img,.team_bottom li img {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
            .team_name {
                display: flex;
                position: absolute;
                width: 100%;
                bottom: 0;
                right: 0;
                padding: .5vw 1vw 0 1vw;
                background: rgba(0, 0, 0, 0.3);
            }
            .team_name a {
                justify-self: flex-start;
                height: 100%;
                width: 3vw;
                padding: 0;
                margin: 0;
            }
            .team_name a img {
                position: relative;
                left: 0;
                height: 1.5vw;
                width: 3vw;
                padding: 0;
                margin: 0;
            }
            .team_name span {
                width: 100%;
                font-family: PhillippScript;
                text-shadow: 1px 1px 6px black, 0 0 1em gray;
                color: white;
                text-align: right;
                font-size: 1.6vw;
                padding: 0;
                text-decoration: none;
            }

.team_bottom {
    justify-content: center;
}
    .team_bottom li {
        margin: 3.5vw 1.5vw 0 1.5vw;
    }
        .team_bottom li p {
            text-align: center;
            font-size: 1.5vw;
            padding: .5vw;
        }
                
/* Projects */
.projects_wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 4vw 2vw;
}
    .project_item {
       position: relative;
        transition: all 3s;
        filter: brightness(70%);
        min-width: 300px;
        flex-basis: 30vw;
        height: 30vw;
        background: #252525;
        margin-top: 2vw;
        overflow: hidden;
        border-radius: 5px;
        transition: all 500ms;
    }
    .project_item img {
        position: absolute;
        left: 0px;
        width: 110%;
        height: 100%;
        transition: all 8s;
    }

        .project_item_img_hover0,.project_item_img_hover4 {
            transform: perspective(500px) translateX(-2vw) scale(1.2, 1.2);
        }

        .project_item2 img,.project_item4 img,.project_item6 img {
            transform: scale(1.5, 1.5) translateY(-5vw);
        }
        .project_item_img_hover1 {
            transform: perspective(500px) translateY(5vw) scale(1.5, 1.5) !important;
        }

        .project_item3 img {
            transform: scale(1.2, 1.2);
        }
        .project_item_img_hover2 {
            transform: perspective(500px) translateX(-5vw) scale(1.2, 1.2) !important;
        }

        .project_item_img_hover3 {
            transform: perspective(500px) translateX(5vw) scale(1.5, 1.5) !important;
        }

        .project_item_img_hover5 {
            transform: perspective(500px) translateY(5vw) scale(1.5, 1.5) !important;
        }

        .project_item_img_hover6 {
            transform: perspective(500px) translateY(3vw) scale(1.7, 1.7) !important;
        }

        .project_item8 img {
            transform: scale(2,2) translateX(5vw);
        }
        .project_item_img_hover7 {
            transform: perspective(500px) translateX(0vw) scale(1, 1) !important;
        }      
            .project_item_textInner {
                display: none;
                position: absolute;
                bottom: 0;    
                padding: 3vw;
                width: 100%;
                background: rgba(0,0,0,0.6);
                color: white;
            }
                .project_item_textInner p {
                    text-shadow: 1px 1px 2px black, 0 0 1em gray;
                    font-size: .9vw;
                    padding-bottom: .5vw;
                }
                .project_item_last_p {
                    padding-bottom: 1.5vw !important;
                }
                .project_item_textInner a {
                    color: white;
                    background: none;
                    border: 1px solid white;
                    border-radius: 5px;
                    font-size: 1vw;
                    padding: .2vw .5vw;
                    cursor: pointer;
                }


/* works item */
.works_item_text_wrap {
    display: flex;
    flex-flow: column nowrap;
}
    .works_item_text_wrap p,.works_item_text_wrap b {
        padding: .2vw;
    }
    


