@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
@font-face {
    font-family: AGOR; 
    src: url(../fonts/AGOR____.ttf);
   }
@font-face {
    font-family: PhillippScript; 
    src: url(../fonts/PhillippScript.ttf);
   }
@font-face {
    font-family: Rotis-SansSerif-Std; 
    src: url(../fonts/Rotis-SansSerif-Std_38713.ttf);
   }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #F7F7F7;

    // navi scss
    nav {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 2.5vmax;
        transition: all 500ms;
        color: orange;
        background: rgba(32,36,37,0.7);
        .nav_logo_wrap {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            .logo {
                position: fixed;
                width: 100px;
                text-align: center;
                left: calc(50vw - 50px);
                transition: all 600ms;
            }
            .toggle {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                position: absolute;
                right: 5vw;
                width: 35px;
                height: 30px;
                transition: all 300ms;
                cursor: pointer;
                span {
                    display: block;
                    width: 100%;
                    height: 5%;
                    background: orange;
                }
                .transFirst {
                    transform: rotate(45deg);
                    transform-origin: 10px;
                }
                .transLast {
                    transform: rotate(-45deg);
                    transform-origin: 8px;
                }
            }
            .toggle:hover {
                height: 25px;
            }
        }
        .nav_elements_show {
            display: none;
            justify-content: space-around;
            align-items: center;
            flex-basis: 60vw;
            a {
                font-size: 1.3em;
                text-shadow: 1px 1px 2px black, 0 0 1em black;
                text-decoration: none;
                color: orange;
            }
        }
    }
    .nav_open {
        height: 7.5vmax;
    }
    @media (max-width: 1025px) {
        nav {
            height: 7.5vmax;
        }
        .nav_full {
            height: 100vh;
            z-index: 99;
        }
        .nav_elements_show {
            position: absolute;
            top: 0;
            left: 0;
            height: 70vh;
            width: 100vw;
            flex-flow: column nowrap;
            padding-top: 20vh;
        }
        .logo_wrap_full {
            align-items: flex-start !important;
            padding-top: 2vmax;
        }
    }
    // end navi scss


    // hero
    #hero_wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: black;
        z-index: 2;
        #hero_BG_image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 1;
            overflow: hidden;
            img {
                position: absolute;
                width: 100%;
                height: 100vh;
                z-index: 0; 
                filter: brightness(65%); 
                transition: transform 8s;
            }
            .overlay {
                position: absolute;
                width: 100%;
                height: 100vh;
                background: rgba(0,0,0,0.4);
                z-index: 1;
            }
        }
        .hero {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-end;
            z-index: 3;
            h1,.h1_title,.h1_button {
                color: white;
                margin: 1vmax;
            }
            h1 {
                font-family: Rotis-SansSerif-Std; 
                text-shadow: 1px 1px 2px black, 0 0 1em gray;
                font-size: 3em;
                margin-bottom: 0;
            }
            .h1_title {
                font-family: PhillippScript; 
                text-shadow: 1px 1px 2px black, 0 0 1em gray;
                font-size: 1.7em;
                margin-top: 0;
            }
            .h1_button {
                font-family: AGOR; 
                text-shadow: 1px 1px 2px black, 0 0 1em gray;
                font-size: 1.3em;
                //background-color:rgba(0,0,0,0.4);      
                padding: .3vmax 1vmax;
                //border: 2px rgb(98, 101, 102) solid;
                border: 2px white solid;
                border-radius:  5%;
                -webkit-box-shadow: 2px 7px 11px -6px rgba(0,0,0,0.68);
                -moz-box-shadow: 2px 7px 11px -6px rgba(0,0,0,0.68);
                box-shadow: 2px 7px 11px -6px rgba(0,0,0,0.68);
                cursor: pointer;

            }
        }
    }
    @media (max-width: 769px) {
        .hero h1 {
            font-size: 7.5vmin !important;
        }
        .h1_title {
            font-size: 5vmin !important;
        }
        .h1_button {
            font-size: 7vmin !important;
            padding: 1vmax 4vmax;
        }
        @media (min-height: 479px) {
            img,.overlay {
                width: auto !important;
            }
        }
    }
    // end hero
    #cat {
        padding: 8vmax 2vmax 3vmax 2vmax;
        background: rgba(229,231,230,0.98);
        h2 {
            font-family: Rotis-SansSerif-Std;
            text-shadow: 1px 1px 2px black, 0 0 1em gray;
        }
        .cat_BG_1 {
            background: url(/images/cat/cat1.jpg);
        }
        .cat_BG_2 {
            background: url(/images/cat/cat2.jpg);
        }
        .cat_BG_3 {
            background: url(/images/cat/cat3.jpg);
        }

        // cat item 1,3
        .cat_item_wrap {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5vmax;
            .cat_item_leftSide {
                display: flex;
                position: relative;
                width: 60vw;
                height: 30vw;
                background-position: center;
                z-index: 0;
                .cat_item_leftSide_overlay {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.4);
                    z-index: 1;
                }
            }
            // invert leftSide
            
            .cat_item_rightSide {
                display: flex;
                align-items: center;
                position: absolute;
                right: 2vmax;
                width: 60vw;
                height: 30vw;
                z-index: 3;
                h2 {
                    display: flex;
                    position: absolute;
                    left: -20vw;
                    font-size: 3vmax;
                    color: rgba(229,231,230,0.98);
                    padding: 0 5vmax;
                    z-index: 6;
                }
                .cat_item_rightSide_innerBox {
                    display: flex;
                    position: relative;
                    justify-content: flex-end;
                    width: 100%;
                    height: 20vw;
                    border: 2px rgb(98, 101, 102) solid;
                    border-radius: 1%;
                    z-index: 4;
                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: 34vw;
                        font-size: 1.1vw;
                        padding: 0 2vw;
                        color: rgb(32,36,37);
                        vertical-align: middle;
                        text-align: justify;
                        line-height: 2.2vmax
                    }
                    .toGalleryBtn {
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        padding: 0 2vw;
                        bottom: -.7vw;
                        right: 3vw;
                        font-size: 1.1vw;
                        background: rgba(229,231,230,0.98);
                        cursor: pointer;
                        transition: all 500ms;
                        &:hover {
                            padding: 0 0vw;
                            right: 5vw;
                        }
                        a {
                            color: rgb(32,36,37);
                            padding: 0 2vw;
                            vertical-align: middle;
                            text-align: justify;
                            text-decoration: none;
                            background: rgba(229,231,230,0.98);
                        }
                    }
                    .toGalleryBtn_invert {
                        right: unset !important;
                        left: 3vw;
                        &:hover {
                            padding: 0 0vw;
                            left: 5vw;
                        }
                    }
                }
            }
            // invert
            .cat_item_rightSide_invert {
                left: 2vmax;
                h2 {
                    left: unset;
                    right: -20vw !important;
                }
                div {
                    justify-content: flex-start !important;
                }
            }
        }
        // wrap invert
        .cat_item_wrap_invert {
            justify-content: flex-end;
        }

        @media (max-width: 769px) {
            .cat_item_rightSide h2 {
                padding: 0;
            }
            .cat_item_rightSide_innerBox {
                display: none !important;
            }
            .cat_item_leftSide {
                width: 100% !important;
                height: 50vw !important;
            }
            .cat_item_rightSide {
                height: 50vw !important;
            }
        }

    }

    // end category


    // how it works?
    #how {
        padding-top: 5vmax;
        h2 {
            font-weight: 400;
            font-size: 2.5em;
            color: #403F3B;
            text-align: center;
        }
        h3 {
            font-family: Rotis-SansSerif-Std; 
            font-size: 2.3vw;
            padding-bottom: 2vmax;
        }
        .how_item {
            display: flex;
            margin: 6vmax;
            // item1
            .how_item1 {
                width: 60vw;
                height: min-content;
                background: #C0A86A;
                .how_item1_text {
                    padding: 3vmax 10vw 3vw 2vmax;
                    color: #F7F7F7;
                    p {
                        font-size: 1.2em;
                        text-align: justify;
                    }
                }
            }
            .how_item1_side {
                display: flex;
                justify-content: center;
                margin: -3vw 0 0 -5vw;
                width: 37vw;
                height: 31vw;;
                background: rgba(229, 231, 230, 0.98);
                box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.5);
                margin-bottom: 2vw;
                .how_item1_side_inner {
                    width: 34vw;
                    h5,a {
                        padding-top: 2vmax;
                        color: rgb(32,36,37);
                        font-size: 1.2em;
                        text-align: center;
                    }
                    a {
                        text-decoration: none;
                        padding: 2vw;
                    }
                    input {
                        width: 11vw;
                        height: 1vw;
                        border: 2px rgb(98, 101, 102) solid;
                        border-radius: 5px;
                        padding: .8vw;
                    }
                    .getPhone,.garderob_phones,.garderob_mail {
                        display: flex;
                        justify-content: space-around;
                        padding: 1vw 2vw;
                        button {
                            height: auto;
                            width: 2vw;
                            border: 2px rgb(98, 101, 102) solid;
                            border-radius: 5px;
                            cursor: pointer;
                            img {
                                height: 1vw;
                            }
                        }
                    }
                    .garderob_phones {
                        padding: .2vw;
                        a {
                            display: flex;
                            img {
                                width: 1.5vmax;
                                height: 1.3vmax;
                                padding: .1em .4vmax;
                            }
                        }
                    }
                    .garderob_mail {
                        text-align: justify;
                        font-size: .8em;
                        a {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img {
                                width: 2vw;
                                margin: .5vw;
                            }
                        }
                    }
                    .massangers {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        a {
                            padding: 1vw;
                            width: 7vw;
                            filter: grayscale(90%);
                            transition: all 500ms;
                            font-size: .8vw;
                            &:hover {
                                filter: grayscale(0%);
                            }
                        }
                        img {
                            width: 2vw;
                        }
                    }
                }

            }

            // item2
            .how_item2 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                position: relative;
                width: 100%;
                height: 20vw;
                margin-bottom: 13vw;
                img {
                    width: 33vw;
                    position: absolute;
                    top: 2vw;
                    right: 10vw;
                    height: 30vw;
                    z-index: 3;
                    -webkit-box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.5);
                            box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.5);
                    -webkit-filter: brightness(80%);
                            filter: brightness(80%);
                }
                .how_item2_text {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: 60vw;
                    height: min-content;
                    background: rgba(229, 231, 230, 0.98);
                    z-index: 2;
                    .how_item2_text_area {
                        padding: 3vmax 22vw 3vmax 2vmax;
                        color: #252525;
                        z-index: 3;
                        p {
                            font-size: 1.2em;
                            text-align: justify;
                        }
                        ._3d_button {
                            width: 12vw;;
                            border: 1px #252525 solid;
                            padding: .4em;
                            margin: 2vw auto;
                            text-align: center;
                        }
                    }
                }
                .how_item2_secodBlock {
                    display: flex;
                    position: absolute;
                    top: -3vw;
                    right: 0;
                    width: 35vw;
                    height: 38vw;
                    background: #C0A86A;
                    z-index: 0;
                }
            }


            // item3 
            .how_item3 {
                display: flex;
                position: relative;
                width: 100%;
                height: 25vw;
                margin-bottom: 8vw;
                img {
                    display: flex;
                    position: absolute;
                    box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.5);
                    &:first-child {
                        left: 0;
                        top: 0;
                        height: 25vw;
                        z-index: 0;
                    }
                    &:last-child {
                        left: 26vw;
                        top: 9vw;
                        height: 23vw;
                        z-index: 1;
                    }
                }
                .how_item3_text {
                    display: flex;
                    flex-flow: column nowrap;
                    position: absolute;
                    top: 2vw;
                    right: 0;
                    width: 35vw;
                    height: min-content;
                    background: rgba(229,231,230,0.98);
                    color: #252525;
                    padding: 3vw 2vw 3vw 2vw;
                    z-index: 3;
                    p {
                        font-size: 1.2em;
                        text-align: justify;
                    }
                }
            }

            // How item 4
            .how_item4 {
                display: flex;
                position: relative;
                width: 100%;
                height: 25vw;
                margin-bottom: 4vw;
                img {
                    display: flex;
                    position: absolute;
                    top: 2vw;
                    left: 10vw;
                    width: 40vw;
                    height: 26.6vw;
                    box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.5);
                    z-index: 2;
                }
                .how_item4_text {
                    display: flex;
                    flex-flow: column nowrap;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 61vw;
                    height: min-content;
                    background: rgba(229, 231, 230, 0.98);
                    color: #252525;
                    padding: 3vw 2vw 3vw 26vw;
                    z-index: 1;
                    p {
                        font-size: 1.2em;
                        text-align: justify;
                    }
                }
                .how_item4_secodBlock {
                    display: flex;
                    position: absolute;
                    top: -3vw;
                    left: 0;
                    width: 35vw;
                    height: 34.6vw;
                    background: #C0A86A;
                    z-index: 0;
                }
            } 
            
            // How item 5
            .how_item5 {
                display: flex;
                position: relative;
                width: 100%;
                height: 25vw;
                margin-bottom: 5vw;
                img {
                    display: flex;
                    position: absolute;
                    box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.5);
                    z-index: 2;
                    &:first-child {
                        top: 4vw;
                        left: 0;
                        width: 30vw;
                    }
                    &:last-child {
                        top: 2vw;
                        right: 0;
                        width: 40vw;
                    }
                }
                .how_item5_text {
                    display: flex;
                    flex-flow: column nowrap;
                    position: absolute;
                    background: rgba(229,231,230,0.98);
                    color: #252525;
                    left: 20vw;
                    width: 30vw;
                    height: 32vw;
                    padding: 3vw 2vw;
                    z-index: 3;
                    p {
                        font-size: 1.2em;
                        text-align: justify;
                    }
                }
            }

            // how item 6
            .how_item6 {
                display: flex;
                position: relative;
                width: 100%;
                height: 40vw;
                img {
                    display: flex;
                    position: absolute;
                    width: 50vw;
                    height: 33.5vw;
                    box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.5);
                    z-index: 1;
                }
                .how_item6_text {
                    display: flex;
                    flex-flow: column nowrap;
                    position: absolute;
                    top: 3vw;
                    right: 0;
                    width: 60vw;
                    height: min-content;
                    background: rgb(192, 168, 106);
                    color: #F7F7F7;
                    padding: 3vw 2vw 3vw 25vw;
                    z-index: 0;
                    p {
                        font-size: 1.2em;
                        text-align: justify;
                    }
                }
            }
        }
    }



    // gallery_small
    #gallery_small {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 0 6vw 0;
        .gallery_small_wrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            width: 95%;
            margin: 0 auto;
            z-index: 0;
            .gallery_small_item {
                position: relative;
                -webkit-perspective: 1000px;
                        perspective: 1000px;
                -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                width: 20vw;
                height: 13vw;
                -webkit-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s;
                -webkit-filter: grayscale(60%);
                filter: grayscale(60%);
                z-index: 1;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-transition: -webkit-transform 200ms;
                    transition: -webkit-transform 200ms;
                    -o-transition: transform 200ms;
                    transition: transform 200ms;
                    transition: transform 200ms, -webkit-transform 200ms;
                    cursor: pointer;
                    z-index: 2;
                }
                &:hover{
                    margin-top: -9vw;
                    width: 29vw;
                    height: 21vw;
                    -webkit-filter: grayscale(0%);
                            filter: grayscale(0%);
                }
            }
        }
    }


    // question ?
    #question {
        display: flex;
        justify-content: space-around;
        margin: 6vw;
        .contacts_wrap {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            width: 40vw;
            padding: 2vw;
            color: #252525;
            background:rgba(229, 231, 230, 0.98);
            border-radius: 5px;
            width: 34vw;
            height: 100% !important;
            margin-bottom: 0 !important;
            h3 {
                font-size: 2vw;
            }
            h5,a {
                padding-top: 2vmax;
                color: rgb(32,36,37);
                font-size: 1.2em;
                text-align: center;
            }
            a {
                text-decoration: none;
                padding: 2vw;
            }
            input {
                width: 13vw;
                height: 1vw;
                border: 2px rgb(98, 101, 102) solid;
                border-radius: 5px;
                padding: .8vw;
                margin: 0 1vw;
            }
            .getPhone,.garderob_phones,.garderob_mail {
                display: flex;
                justify-content: space-around;
                padding: 1vw 2vw;
                button {
                    height: auto;
                    width: 2vw;
                    border: 2px rgb(98, 101, 102) solid;
                    border-radius: 5px;
                    cursor: pointer;
                    img {
                        height: 1vw;
                    }
                }
            } 
            .garderob_phones {
                padding: .2vw;
                a {
                    display: flex;
                    img {
                        width: 1.5vmax;
                        height: 1.3vmax;
                        padding: .1em .4vmax;
                    }
                }
            }
            .massangers {
                display: flex;
                justify-content: center;
                width: 100%;
                a {
                    padding: 1vw;
                    width: 7vw;
                    filter: grayscale(90%);
                    transition: all 500ms;
                    font-size: .8vw;
                    &:hover {
                        filter: grayscale(0%);
                    }
                }
                img {
                    width: 2vw;
                }
            }
        }
        .question_wrap {
            display: flex;
            width: 34vw;
            form {
                padding: 2vw;
                background: #252525;
                border-radius: 5px;
                box-shadow: 0px 3px 6px 3px rgba(32,32,32,0.8);
                h3 {
                    font-size: 2vw;
                    color: orange;
                    text-align: center;
                    margin-bottom: 1vw;
                }
                .inputs {
                    display: flex;
                    justify-content: space-between;
                    input {
                        position: relative;
                        width: 13vw;
                        height: 1vw;
                        border: 2px rgb(98, 101, 102) solid;
                        border-radius: 5px;
                        padding: .8vw;
                        margin: 1vw;
                        box-shadow: inset 3px 3px 8px -6px rgba(0,0,0,0.63);
                    }
                    label {
                        position: absolute;
                        color: orange;
                        margin: 0 0 1vw 1vw;
                        font-size: .8vw;
                    }
                }
                .textarea {
                    width: calc(100% - 2vw);
                    height: 10vw;
                    margin: 1vw;
                    padding: .8vw;
                    border: 2px rgb(98, 101, 102) solid;
                    border-radius: 5px;
                    box-shadow: inset 3px 3px 8px -6px rgba(0,0,0,0.63);
                }
                button {
                    background: #252525;
                    color: orange;
                    padding: .5vw;
                    font-size: 1.1vw;
                    border-radius: 5px;
                    margin: 1vw;
                }
            }
        }
    }



    // footer



    footer {
        display: flex;
        justify-content: space-around;
        padding: 4vmax 2vmax;
        background:rgba(229, 231, 230, 0.98);
        color: #252525;
        h3 {
            padding: 1vw;
            text-align: center;
        }
        p {
            color: #2525257e;
            text-align: center;
            transition: all 500ms;
            cursor: pointer;
            &:hover {
                color: #252525;
            }
        }
        .footer_main {
            display: flex;
            flex-direction: column;
            width: 100%;
            .footer_main_top {
                display: flex;
                height: 15vw;
                justify-content: space-around;
                .footer_contacts,.footer_menu {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                }
            }
            .footer_main_bottom {
                padding: 3vw;
                p {
                    text-align: left;
                    padding: .3vw;
                    font-size: 1vw;
                }
            }
        }
    }
    .copyRight {
        display: flex;
        justify-content: center;
        background: #252525;
        p {
            color: orange;
            padding: 1vw;
        }
    }
}

