@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
@font-face {
    font-family: AGOR; 
    src: url(../fonts/AGOR____.ttf);
   }
@font-face {
    font-family: PhillippScript; 
    src: url(../fonts/PhillippScript.ttf);
   }
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 2000px;
    background: #F7F7F7;

    // navi scss
    nav {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 2.5vmax;
        transition: all 500ms;
        color: orange;
        background: rgba(32,36,37,0.7);
        .nav_logo_wrap {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            .logo {
                position: fixed;
                width: 100px;
                text-align: center;
                left: calc(50vw - 50px);
                transition: all 600ms;
            }
            .toggle {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                position: absolute;
                right: 5vw;
                width: 35px;
                height: 30px;
                transition: all 300ms;
                cursor: pointer;
                span {
                    display: block;
                    width: 100%;
                    height: 5%;
                    background: orange;
                }
                .transFirst {
                    transform: rotate(45deg);
                    transform-origin: 10px;
                }
                .transLast {
                    transform: rotate(-45deg);
                    transform-origin: 8px;
                }
            }
            .toggle:hover {
                height: 25px;
            }
        }
        .nav_elements_show {
            display: none;
            justify-content: space-around;
            align-items: center;
            flex-basis: 60vw;
            a {
                font-size: 1.3em;
                text-shadow: 1px 1px 2px black, 0 0 1em black;
                text-decoration: none;
                color: orange;
            }
        }
    }
    .nav_open {
        height: 7.5vmax;
    }
    @media (max-width: 1025px) {
        nav {
            height: 7.5vmax;
        }
        .nav_full {
            height: 100vh;
            z-index: 99;
        }
        .nav_elements_show {
            position: absolute;
            top: 0;
            left: 0;
            height: 70vh;
            width: 100vw;
            flex-flow: column nowrap;
            padding-top: 20vh;
        }
        .logo_wrap_full {
            align-items: flex-start !important;
            padding-top: 2vmax;
        }
    }
    // end navi scss


    // hero
    #hero_wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: black;
        z-index: 2;
        #hero_BG_image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 1;
            overflow: hidden;
            img {
                position: absolute;
                width: 100%;
                height: 100vh;
                z-index: 0; 
                filter: brightness(75%)  
            }
            .overlay {
                position: absolute;
                width: 100%;
                height: 100vh;
                background: rgba(0,0,0,0.4);
                z-index: 1;
            }
        }
        .hero {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-end;
            z-index: 3;
            h1,.h1_title,.h1_button {
                color: white;
                margin: 1vmax;
            }
            h1 {
                font-family: AGOR; 
                text-shadow: 1px 1px 2px black, 0 0 1em gray;
                font-size: 3em;
                margin-bottom: 0;
            }
            .h1_title {
                font-family: PhillippScript; 
                text-shadow: 1px 1px 2px black, 0 0 1em gray;
                font-size: 1.7em;
                margin-top: 0;
            }
            .h1_button {
                font-family: AGOR; 
                text-shadow: 1px 1px 2px black, 0 0 1em gray;
                font-size: 1.3em;
                //background-color:rgba(0,0,0,0.4);      
                padding: .3vmax 1vmax;
                //border: 2px rgb(98, 101, 102) solid;
                border: 2px white solid;
                border-radius:  5%;
                -webkit-box-shadow: 2px 7px 11px -6px rgba(0,0,0,0.68);
                -moz-box-shadow: 2px 7px 11px -6px rgba(0,0,0,0.68);
                box-shadow: 2px 7px 11px -6px rgba(0,0,0,0.68);
                cursor: pointer;

            }
        }
    }
    @media (max-width: 769px) {
        .hero h1 {
            font-size: 7.5vmin !important;
        }
        .h1_title {
            font-size: 5vmin !important;
        }
        .h1_button {
            font-size: 7vmin !important;
            padding: 1vmax 4vmax;
        }
        @media (min-height: 479px) {
            img,.overlay {
                width: auto !important;
            }
        }
    }
    // end hero
    #cat {
        margin: 10vmax 2vmax;
        h2 {
            text-shadow: 1px 1px 2px black, 0 0 1em gray;
        }
        .cat_BG_1 {
            background: url(/images/cat/cat1.jpg);
        }
        .cat_BG_2 {
            background: url(/images/cat/cat2.jpg);
        }
        .cat_BG_3 {
            background: url(/images/cat/cat3.jpg);
        }

        // cat item 1,3
        .cat_item_wrap {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5vmax;
            .cat_item_leftSide {
                display: flex;
                position: relative;
                width: 60vw;
                height: 30vw;
                background-position: center;
                z-index: 0;
                .cat_item_leftSide_overlay {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.4);
                    z-index: 1;
                }
            }
            // invert leftSide
            
            .cat_item_rightSide {
                display: flex;
                align-items: center;
                position: absolute;
                right: 2vmax;
                width: 60vw;
                height: 30vw;
                z-index: 3;
                h2 {
                    display: flex;
                    position: absolute;
                    left: -20vw;
                    font-size: 3vmax;
                    color: white;
                    padding: 0 5vmax;
                    z-index: 6;
                }
                .cat_item_rightSide_innerBox {
                    display: flex;
                    position: relative;
                    justify-content: flex-end;
                    width: 100%;
                    height: 20vw;
                    border: 2px rgb(98, 101, 102) solid;
                    border-radius: 1%;
                    z-index: 4;
                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: 40%;
                        padding: 0 10%;
                        color: rgb(32,36,37);
                        vertical-align: middle;
                        line-height: 2.2vmax
                    }
                    .toGalleryBtn {
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        padding: 0 2vw;
                        bottom: -1vw;
                        right: 3vw;
                        background: #F7F7F7;
                        cursor: pointer;
                        img {
                            width: 2em;
                            height: 2em;
                            padding: 0 .1vw;
                        }
                    }
                    .toGalleryBtn_invert {
                        right: unset;
                        left: 3vw;
                    }
                }
            }
            // invert
            .cat_item_rightSide_invert {
                left: 2vmax;
                h2 {
                    left: unset;
                    right: -20vw !important;
                }
                div {
                    justify-content: flex-start !important;
                }
            }
        }
        // wrap invert
        .cat_item_wrap_invert {
            justify-content: flex-end;
        }

        @media (max-width: 769px) {
            .cat_item_rightSide h2 {
                padding: 0;
            }
            .cat_item_rightSide_innerBox {
                display: none !important;
            }
            .cat_item_leftSide {
                width: 100% !important;
                height: 50vw !important;
            }
            .cat_item_rightSide {
                height: 50vw !important;
            }
        }

    }

    // end category


    // how it works?
    #how {
        min-height: 100vh;
        background: rgb(32,36,37);
        padding-top: 5vmax;
        h2 {
            font-weight: 400;
            text-shadow: 1px 1px 2px black, 0 0 1em rgb(37, 37, 37);
            font-size: 2.5em;
            color: orange;
            text-align: center;
        }
        .how_item {
            display: flex;
            min-height: 70vh;
            margin: 6vmax;
            // item1
            .how_item1 {
                width: 60vw;
                height: 25vw;
                background: rgba(255, 255, 255, 0.116);
                .nom {
                    color: white;
                    font-size: 15em;
                    margin: -7vmax 3vmax 1vmax 3vmax;
                    text-shadow: 1px 1px 2px black, 0 0 .06em rgb(37, 37, 37);
                }
                .how_item_text {
                    font-size: 1.5em;
                    color: white;
                    padding: 2vmax 7vmax 0 2vmax;
                    text-align: justify;
                }
            }
            .how_item1_side {
                margin: 3vw 0 0 -5vw;
                width: 30vw;
                height: 25vw;
                background: #F7F7F7;
                h5 {
                    padding-top: 2vmax;
                    color: rgb(32,36,37);
                    font-size: 1.2em;
                    text-align: center;
                }
            }

            // item2
            .how_item2 {
                display: flex;
                position: relative;
                width: 100%;
                height: 50vw;
                img {
                    width: 40vw;
                    position: absolute;
                    z-index: 0;
                    box-shadow: 0px 6px 6px 6px rgba(32, 32, 32, 0.8);
                    filter: brightness(75%);
                    &:first-child {
                        top: 2vw;
                        right: 0;
                        height: 35vw;
                        z-index: 1;
                    }
                    &:last-child {
                        top: 8vw;
                        right: 10vw;
                        z-index: 2;
                    }
                }
                .how_item2_text {
                    display: flex;
                    width: 60vw;
                    height: 35vw;
                    background: rgba(85, 117, 117, 0.98);
                    z-index: 2;
                }
                .nom2 {
                    position: absolute;
                    color: white;
                    font-size: 15em;
                    margin: -7vmax 0 0 29vmax;
                    text-shadow: 1px 1px 2px black, 0 0 .06em rgb(37, 37, 37);
                    z-index: 5;
                }
            }
            .how_item2_side {
                width: 40vw;
                height: 15vw;
                background: #F7F7F7;
                box-shadow: 0px 6px 6px 6px rgba(32, 32, 32, 0.8);
                margin-top: 5vw;
                z-index: 4;
                p {
                    padding: 2vmax 1vmax;
                }
            }
        }
    }
}

