nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 2.5vmax;

    color: orange;
    background: rgba(32,36,37,0.7);
    .nav_logo_wrap {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}