section#cat
    .cat_item_wrap
        .blog_title_block
            h2.blog_title Гардеробные системы
                .mobile_cat_href
                    a(href="category_systems.html")
        .cat_item_leftSide.cat_BG_1.cat_BG_1_page
            .cat_item_leftSide_overlay
        .cat_item_rightSide
            .cat_item_rightSide_innerBox
                .toGalleryBtn.toGalleryBtn_page
                    a(href="category_systems.html") Посмотреть фото
                p Основой гардеробных систем являться алюминиевый профиль, который дает возможность разместить полки, тумбы и дополнительные секции в любом удобном месте для вашего гардероба. Данные системы предают лёгкость, многофункциональность и удобство в вашем доме.
    .cat_item_wrap.cat_item_wrap_invert
        .blog_title_block
            h2.blog_title Гардеробные из ДСП
                .mobile_cat_href
                    a(href="category_systems.html")
        .cat_item_leftSide.cat_BG_2.cat_BG_2_page
            .cat_item_leftSide_overlay
        .cat_item_rightSide.cat_item_rightSide_invert
            .cat_item_rightSide_innerBox
                .toGalleryBtn.toGalleryBtn_invert
                    a(href="category_DSP.html") Посмотреть фото
                P Основой данных систем является корпус из ДСП, который наполняется различными видами систем хранения: корзины для обуви, брючницы, галстучницы, полки, ниши, все что приемлемо вашему вкусу. Данные системы- вместительны, прочны, многофункциональны, а также удобны для пользования.
    .cat_item_wrap
        .blog_title_block
            h2.blog_title Раздвижные системы
                .mobile_cat_href
                    a(href="category_systems.html")
        .cat_item_leftSide.cat_BG_1.cat_BG_1_page
            .cat_item_leftSide_overlay
        .cat_item_rightSide
            .cat_item_rightSide_innerBox
                .toGalleryBtn.toGalleryBtn_page
                    a(href="category_sliding.html") Посмотреть фото
                p Раздвижные системы-это алюминиевый профиль с различными видами наполнения, который работает с помощью прочных роликов. Эти системы помогут скрыть в вашем доме:  ниши, кладовки и многое другое. Раздвижные системы-это многофункциональное решение в дизайне и помощь сделать ваш дом свободным от лишних шкафов.
//
