section#cat
    .cat_item_wrap
        .cat_item_leftSide.cat_BG_1
            .cat_item_leftSide_overlay
        .cat_item_rightSide
            h2 Гардеробные системы
            .cat_item_rightSide_innerBox
                P Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas mollitia quae eligendi et tenetur placeat consectetur. Maxime, est, alias sint ipsam quod soluta quia, exercitationem deserunt nihil esse eveniet!
    .cat_item_wrap.cat_item_wrap_invert
        .cat_item_leftSide.cat_BG_2
            .cat_item_leftSide_overlay
        .cat_item_rightSide.cat_item_rightSide_invert
            h2 Гардеробные из ДСП
            .cat_item_rightSide_innerBox
                P Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas mollitia quae eligendi et tenetur placeat consectetur. Maxime, est, alias sint ipsam quod soluta quia, exercitationem deserunt nihil esse eveniet! 
    .cat_item_wrap
        .cat_item_leftSide.cat_BG_3
            .cat_item_leftSide_overlay
        .cat_item_rightSide
            h2 Раздвижные системы
            .cat_item_rightSide_innerBox
                P Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas mollitia quae eligendi et tenetur placeat consectetur. Maxime, est, alias sint ipsam quod soluta quia, exercitationem deserunt nihil esse eveniet!       