section#cat
    .cat_item_wrap
        .cat_item_leftSide
            .cat_item_leftSide_overlay
        .cat_item_rightSide
            h2 Гардеробные системы
            .cat_item_rightSide_innerBox
                P Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas mollitia quae eligendi et tenetur placeat consectetur. Maxime, est, alias sint ipsam quod soluta quia, exercitationem deserunt nihil esse eveniet!
            