section#cat
    .cat_item_wrap
        .cat_item_leftSide.cat_BG_1
            .cat_item_leftSide_overlay
        .cat_item_rightSide
            h2 Гардеробные системы
            .cat_item_rightSide_innerBox
                P Основой гардеробных систем являться алюминиевый профиль, который дает возможность разместить полки, тумбы и дополнительные секции в любом удобном месте для вашего гардероба. Данные системы предают лёгкость, многофункциональность и удобство в вашем доме.
    .cat_item_wrap.cat_item_wrap_invert
        .cat_item_leftSide.cat_BG_2
            .cat_item_leftSide_overlay
        .cat_item_rightSide.cat_item_rightSide_invert
            h2 Гардеробные из ДСП
            .cat_item_rightSide_innerBox
                P Основой данных систем является корпус из ДСП, который наполняется различными видами систем хранения: корзины для обуви, брючницы, галстучницы, полки, ниши, все что приемлемо вашему вкусу. Данные системы- вместительны, прочны, многофункциональны, а также удобны для пользования.
    .cat_item_wrap
        .cat_item_leftSide.cat_BG_3
            .cat_item_leftSide_overlay
        .cat_item_rightSide
            h2 Раздвижные системы
            .cat_item_rightSide_innerBox
                P Раздвижные системы-это алюминиевый профиль с различными видами наполнения, который работает с помощью прочных роликов. Эти системы помогут скрыть в вашем доме:  ниши, кладовки и многое другое. Раздвижные системы-это многофункциональное решение в дизайне и помощь сделать ваш дом свободным от лишних шкафов.