footer
    .footer_map 
        h3 Карта:
        img(src="images/map.jpg")
    .footer_main
        .footer_main_top
            .footer_contacts
                h3 Как нас найти?
                p ул. Викентия Хвойки, 10, этаж 2, офис 16
                p ГРАФИК РАБОТЫ: Пн — Пт с 9:00 до 18:00
                p Онлайн заявки: круглосуточно
                p 050 411 1176
                p 097 599 6460
            .footer_menu
                h3 Главная
                p О компании
                p Доставка
                p Виды Гардеробных
                p Наши работы
                h3 Соцсети
        .footer_main_bottom
            h3 Полезно знать:
            p Где сделать или разместить гардероб?
            p Как выбрать систему для гардеробной комнаты?
            p Гардеробные системы ДСП: что собой представляют и каковы их преимущества?
            p Почему гардеробная комната из ДСП – оптимальный выбор?
            p Как выбрать двери в гардеробную комнату?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit?
            p Laborum nihil quisquam, beatae molestiae nulla asperiores, architecto non?
            p Quae assumenda, natus sit tempore cumque? Quis blanditiis et atque iusto numquam non?
.copyRight 
    p Copyright &copy GARDEROB.KIEV.UA 2019 