section#gallery_small 
    .gallery_small_wrap
        img(src="images/gallery/slide3.jpg")
        img(src="images/gallery/slide4.jpg")
        img(src="images/gallery/slide5.jpg")
        img(src="images/gallery/slide6.jpg")