section#gallery_small 
    .gallery_small_wrap
        .gallery_small_item
            img(src="images/gallery/slide3.jpg")
        .gallery_small_item
            img(src="images/gallery/slide4.jpg")
        .gallery_small_item
            img(src="images/gallery/slide5.jpg")
        .gallery_small_item
            img(src="images/gallery/slide6.jpg")