section#how
    h2 Как заказать гардероб ?
    .how_item
        .how_item1
            .how_item1_text
                //p.nom 1 
                h3 Заявка
                p Вы отправляете форму заявки. С Вами связывается наш специалист, проясняет с Вами все ваши пожелания и размеры изделия.
        .how_item1_side
            .how_item1_side_inner
                form
                    h5 Ваши контакты
                    .getPhone
                        input(class="phone" name="phone" type="text" placeholder="телефон")
                        input(type="text" placeholder="имя")
                        button(type="submit") 
                            img(src="images/forward-arrow.svg" alt="btn")
                h5 Или позвоните нам:
                .garderob_phones
                    a(href="tel:+380504111176") 
                        img(src="images/how/telephone.png")
                        p 050 411 1176
                    a(href="tel:+380975996460") 
                        img(src="images/how/telephone.png")
                        p 097 599 6460
                .massangers 
                    a(href="#")
                        p(style="color:#663398") Viber
                        img(src="images/viber.png")
                    a(href="#")
                        p(style="color:#2BA2DB") Telegram
                        img(src="images/teleg.png")
                    a(href="#")
                        p(style="color:#00CC33") WhatsAPP
                        img(src="images/whatsapp.png")
                .garderob_mail
                    a(href="mailto:vlad@htmlbook.ru") Задавайте вопросы по электронной почте info@garderob.kiev.ua
                        img(src="images/mail.png", alt="mail")
    .how_item
        .how_item2
            img(src="/images/how/sheme3.jpg", alt="схема гардероба3")
            .how_item2_text
                .how_item2_text_area
                    h3 Индивидуальный 3D проект
                    p С учетом всех Ваших пожеланий мы создаем 3-D проект. И только, после утверждения проекта мы делаем детальную смету.
                    p._3d_button Пример проекта
            .how_item2_secodBlock
    .how_item
        .how_item3
            img(src="images/how/zamer1.jpg")
            .how_item3_text
                h3 Высокоточный замер
                p После согласования стоимости и проекта к Вам выезжает замерщик. Замер производится при помощи рулетки, нивелира, электронного дальномера, угломера и планшета. 
            img(src="images/how/zamer2.jpg")
    .how_item
        .how_item4
            .how_item4_secodBlock
            .how_item4_text
                h3 Заключение договора
                p Что входит в договор? Договор, Спецификация материалов, Чертежи с размерами. После подписания всей документации и внесения предоплаты 80% договор вступает в силу.
            img(src="images/how/dogovor.jpg")
    .how_item
        .how_item5
            img(src="images/how/dev1.jpg")
            .how_item5_text
                h3 Изготовление
                p Выбранные материалы обрабатываются на дорогом высокоточном оборудование и проходит двойной контроль качества. После упаковывается и доставляется на адрес для установки.
            img(src="images/how/dev2.jpg")
    .how_item
        .how_item6
            img(src="images/how/done2.jpg")
            .how_item6_text
                h3 Установка
                p Перед доставкой с Вами связывается ответственное лицо и согласовывает время и дату установки.После установки подписывается акт выполненных работ и с этого момента вступает в силу гарантийные обязательства. 
            
    