.paralaks
        .how_statusLine
            .how_statusLine_wrap
                .how_statusLine_item_wrap
                    .how_statusLine_item.how_main_active
                        p ЗАЯВКА
                        b 1
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p 3D ПРЕКТ
                        b 2
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p ЗАМЕР
                        b 3
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p ДОГОВОР
                        b 4
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p ИЗГОТОВЛЕНИЕ
                        b 5
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p УСТАНОВКА
                        b 6
        h2 Как заказать гардероб ?
        .how_main_wrap
            .how_beack_arrow СЮДА
            // 1 (style="display:none")
            .how_main_1.how_main_display
                .item1_textSide
                    p Вы отправляете форму заявки. С Вами связывается наш специалист, проясняет с Вами все ваши пожелания и размеры изделия.
                .how_item1_side
                    .how_item1_side_inner
                        form
                            h5 Ваши контакты
                            .getPhone
                                input(class="phone" name="phone" type="text" placeholder="телефон")
                                input(type="text" placeholder="имя")
                                button(type="submit") 
                                    img(src="images/forward-arrow.svg" alt="btn")
                        h5 Или позвоните нам:
                        .garderob_phones
                            a(href="tel:+380504111176") 
                                img(src="images/how/telephone.png")
                                p 050 411 1176
                            a(href="tel:+380975996460") 
                                img(src="images/how/telephone.png")
                                p 097 599 6460
                        .massangers 
                            a(href="#")
                                p(style="color:#663398") Viber
                                img(src="images/viber.png")
                            a(href="#")
                                p(style="color:#2BA2DB") Telegram
                                img(src="images/teleg.png")
                            a(href="#")
                                p(style="color:#00CC33") WhatsAPP
                                img(src="images/whatsapp.png")
                        .garderob_mail
                            a(href="mailto:vlad@htmlbook.ru") Задавайте вопросы по электронной почте info@garderob.kiev.ua
                                img(src="images/mail.png", alt="mail")
            // 2
            .how_main_1
                .item1_textSide
                    p С учетом всех Ваших пожеланий мы создаем 3-D проект. И только, после утверждения проекта мы делаем детальную смету.
                .how_item1_side
                    img(src="/images/how/sheme3.jpg", alt="схема гардероба3")
            // 3
            .how_main_1.how_main_3
                .item1_textSide
                    p После согласования стоимости и проекта к Вам выезжает замерщик. Замер производится при помощи рулетки, нивелира, электронного дальномера, угломера и планшета. 
                .how_item1_side
                    img(src="images/how/zamer2.jpg")
                    img(src="images/how/zamer1.jpg")
            // 4
            .how_main_1.how_main_3
                .item1_textSide
                    p Что входит в договор? Договор, Спецификация материалов, Чертежи с размерами. После подписания всей документации и внесения предоплаты 80% договор вступает в силу.
                .how_item1_side_4
                    img(src="images/how/dogovor.jpg")
            // 5
            .how_main_1.how_main_5
                .item1_textSide
                    p Выбранные материалы обрабатываются на дорогом высокоточном оборудование и проходит двойной контроль качества. После упаковывается и доставляется на адрес для установки.
                .how_item1_side_5
                    img(src="images/how/dev1.jpg")
                    img(src="images/how/dev2.jpg")
            // 6
            .how_main_1.how_main_5
                .item1_textSide
                    p Перед доставкой с Вами связывается ответственное лицо и согласовывает время и дату установки.После установки подписывается акт выполненных работ и с этого момента вступает в силу гарантийные обязательства. 
                .how_item1_side_4
                    img(src="images/how/done2.jpg")
            .how_next_arrow ТУДА
    
