section#how
    h2 Как заказать гардероб ?
    .how_item
        .how_item1
            p.nom 1 
            p.how_item_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum libero recusandae repellendus laborum fugit officiis ex aperiam magnam quia accusamus provident, quasi in suscipit aliquid, molestiae ipsum inventore placeat vel!
        .how_item1_side
            h5 Ваши контакты
            //input(type="tel" placeholder="телефон")
            //input(type="text" placeholder="имя")
    .how_item
        .how_item2
            img(src="/images/how/sheme1.jpg", alt="схема гардероба1")
            img(src="/images/how/sheme3.jpg", alt="схема гардероба3")
            p.nom2 2
            img(src="/images/how/sheme2.jpg", alt="схема гардероба2")
        .how_item2_side
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eveniet doloremque, qui, quis accusamus dolor impedit eius iusto voluptatem odio tempora hic adipisci delectus officia corrupti voluptas ut repudiandae ea!
    .how_item
            
    