.paralaks
        .how_statusLine
            .how_statusLine_wrap
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p ЗАЯВКА
                        b 1
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p 3D ПРЕКТ
                        b 2
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p ЗАМЕР
                        b 3
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p ДОГОВОР
                        b 4
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p ИЗГОТОВЛЕНИЕ
                        b 5
                .how_statusLine_item_wrap
                    .how_statusLine_item
                        p УСТАНОВКb
                        b 6
        h2 Как заказать гардероб ?
section#how
    
