section#how
    h2 Как заказать гардероб ?
    .how_item
        .how_item1
            .how_item1_text
                p.nom 1 
                h3 Заявка
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum libero recusandae repellendus laborum fugit officiis ex aperiam magnam quia accusamus provident, quasi in suscipit aliquid, molestiae ipsum inventore placeat vel!
        .how_item1_side
            form
                h5 Ваши контакты
                .getPhone
                    input(id="phone" name="phone" type="text" placeholder="телефон")
                    input(type="text" placeholder="имя")
            h5 Или позвоните нам:
            .garderob_phones
                a(href="tel:+380504111176") 
                    img(src="images/how/telephone.png")
                    p 050 411 1176
                a(href="tel:+380975996460") 
                    img(src="images/how/telephone.png")
                    p 097 599 6460
            .garderob_mail
                a(href="mailto:vlad@htmlbook.ru") Задавайте вопросы по электронной почте info@garderob.kiev.ua
    .how_item
        .how_item2
            img(src="/images/how/sheme3.jpg", alt="схема гардероба3")
            .how_item2_text
                .how_item2_text_area
                    p.nom2 2
                    h3 Индивидуальный 3D проект
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit fugiat corporis, assumenda odio error debitis eum repudiandae porro laudantium ab ex est illo natus nesciunt ipsa quae reiciendis? Ipsum, cum!
                    p._3d_button Пример проекта
            img(src="/images/how/sheme2.jpg", alt="схема гардероба2")
    .how_item
        .how_item3
            img(src="images/how/zamer1.jpg")
            .how_item3_text
                p.nom3 3
                h3 Высокоточный замер
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit fugiat corporis, assumenda odio error debitis eum repudiandae porro laudantium ab ex est illo natus nesciunt ipsa quae reiciendis? Ipsum, cum!
            img(src="images/how/zamer2.jpg")
    .how_item
        .how_item4
    
    .how_item
            
    