header
    nav
        .nav_logo_wrap 
            p.logo NewLOGO
            .nav_elements_show
                a(href="#") Главная
                a(href="#") О компании
                a(href="#") Доставка
                a(href="tel:+380504111176") 050 411 1176
                a(href="tel:+380975996460") 097 599 6460
            .toggle
                span
                span
                span