header
    nav
        .nav_logo_wrap 
            p.logo NewLOGO
            .nav_elements_show
                p.logo_open NewLOGO
                p Главная
                p О компании
                p Доставка
                p 0504111176
                p 0975996460
            .toggle
                span
                span
                span