.gallery
    h2 Примеры наших работ
    .gallery_wrap
        .gallery_slideMain
            .gallery_slideMain_in
                img(class="mainFoto" src="../images/page/gallery/1.jpg" alt="garderob_foto")
                img(class="arrow_beak" src="../images/page/gallery/left.png" alt="arrow")
                img(class="arrow_next" src="../images/page/gallery/right.png" alt="arrow")
        .gallery_item.gallery_active
            img(src="../images/page/gallery/1.jpg" alt="garderob_foto")
        .gallery_item
            img(src="../images/page/gallery/2.jpg" alt="garderob_foto")
        .gallery_item
            img(src="../images/page/gallery/3.jpg" alt="garderob_foto")
        .gallery_item
            img(src="../images/page/gallery/4.jpg" alt="garderob_foto")
        .gallery_item
            img(src="../images/page/gallery/5.jpg" alt="garderob_foto")
        .gallery_item
            img(src="../images/page/gallery/6.jpg" alt="garderob_foto")
        .gallery_item
            img(src="../images/page/gallery/7.jpg" alt="garderob_foto")
        .gallery_item
            img(src="../images/page/gallery/8.jpg" alt="garderob_foto")