section#question
    .contacts_wrap
    .question_wrap
        form
            h5 Задайте вопрос
            .inputs
                input(type="text" placeholder="Имя")
                input(type="email" placeholder="Почта")
            textarea.textarea(placeholder="Сообщение" required)
            button Отправить