section#question
    .contacts_wrap 
        h3 Готовы заказать?
        .how_item1_side
            form
                h5 Оставьте Ваши контакты
                .getPhone
                    input(class="phone" name="phone" type="text" placeholder="телефон")
                    input(type="text" placeholder="имя")
                    button(type="submit") 
                        img(src="images/forward-arrow.svg" alt="btn")
            h5 Или позвоните нам:
            .garderob_phones
                a(href="tel:+380504111176") 
                    img(src="images/how/telephone.png")
                    p 050 411 1176
                a(href="tel:+380975996460") 
                    img(src="images/how/telephone.png")
                    p 097 599 6460
            .massangers 
                a(href="#")
                    p(style="color:#663398") Viber
                    img(src="images/viber.png")
                a(href="#")
                    p(style="color:#2BA2DB") Telegram
                    img(src="images/teleg.png")
                a(href="#")
                    p(style="color:#00CC33") WhatsAPP
                    img(src="images/whatsapp.png")
    .question_wrap
        form
            h3 Задайте вопрос
            .inputs
                .inputs_item
                    label(for="name") Ваше имя
                    input(type="text" id="name" placeholder="Имя")
                .inputs_item
                    label(for="mail") Почта
                    input(type="email" id="mail" placeholder="exemple@mail.com")
            textarea.textarea(placeholder="Сообщение" required)
            button Отправить